@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.body__marginYpadding--quitar {
  margin: 0px;
  padding: 0px; }

.footer__flex {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  align-items: center; }

@media only screen and (max-width: 890px) {
  .footer__mobile--paddingT {
    padding-top: 20px; }
  .nav__padding--inferiorLeft {
    padding-bottom: 20px;
    padding-left: 30px; } }

.header__logo--centrado {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.index__banner--centrado {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.index__margen--superior {
  margin-top: 100px; }

.index__parrafos--margenT {
  margin-top: 200px; }

.index__separador--margenT {
  margin-top: 50px; }

.index__parrafo2--margenT {
  margin-top: 100px; }

.header__logo--padding {
  padding: 30px 0px; }

.index__subtitulos--padding {
  padding-bottom: 25px; }

.footer__padding--top {
  padding-top: 20px; }

.footer__subtitulo--paddingB {
  padding-bottom: 10px; }

.footer__iconos--margin {
  margin: 0px 5px; }

.cards__respuestas--paddingL {
  padding: 0px 50px; }

.pregFrec__margen--superior {
  margin-top: 100px; }

.testimonios__margen--superior {
  margin-top: 100px;
  padding-bottom: 50px; }

.test__imgs--marginT {
  margin-top: 20px; }

.contacto__info--flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contacto__formulario--flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contacto__formulario--margin {
  margin-top: 20px; }

.contacto__info--margin {
  margin-top: 35px; }

.contactos__margen--superior {
  margin-top: 50px; }

.contacto__info--padding {
  padding: 10px 0px 10px 15px; }

.contacto__titulo--margin {
  margin-top: 50px; }

.idiomas__margen--superior {
  margin-top: 100px; }

.idiomas__tabla--margen {
  margin-top: 20px; }

.idiomas__tabla--centrada {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.idiomas__boton--centrado {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.error__imgs--flex {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  margin: 50px 0px; }

.error__texto--flex {
  margin-top: 50px;
  padding: 0px 50px; }

.error__imgs--paddingR {
  padding-right: 50px; }

.error__imgs--paddingL {
  padding-left: 50px; }

html {
  font-size: 62.5%; }

.nav__fuente--tamaño {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem; }

.cuerpo__parrafos--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: justify; }

.index__parrafos--altoLinea {
  line-height: 4rem; }

.cuerpo__subtitulos--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem; }

.footer__subtitulo--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem; }

.footer__info--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold; }

.copy__fuente {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  text-align: center; }

.preguntas__subtitulos--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 3rem; }

.testimonios__nombres--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  text-align: center; }

.testimonios__texto--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: justify; }

.contacto__titulo--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  text-align: center; }

.contacto__info--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem; }

.contacto__form--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 2.3rem; }

.idiomas__subtitulo--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold; }

.error__texto--fuente {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #2D4C84;
  font-size: 8rem;
  -webkit-text-stroke: 2px #939393;
  font-weight: bold; }

.error__indicacion--fuente {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #939393;
  -webkit-text-stroke: 1px #2D4C84;
  font-size: 3rem; }

.headFoot__fondo--gris {
  background-color: #ABABAB; }

.header__borde--inferior {
  border-bottom: 1px solid black; }

.footer__borde--superior {
  border-top: 1px solid black; }

.test__cards--radio {
  border-radius: 10%;
  box-shadow: 9px 9px 5px 0px #939393; }

.test__cards--borde {
  border: solid 5px #2D4C84;
  border-radius: 10%;
  box-shadow: 9px 9px 5px 0px #939393;
  background-color: #C4C4C4; }

.contacto__info--borde {
  border: solid 5px #2D4C84;
  border-radius: 10px;
  background-color: #C4C4C4;
  box-shadow: 9px 9px 5px 0px #939393; }

.contacto__formulario--borde {
  border: solid 5px #2D4C84;
  border-radius: 10px;
  background-color: #C4C4C4;
  box-shadow: 9px 9px 5px 0px #939393;
  padding: 0px 5px; }

.cuerpo__tabla--bordes {
  border: solid 5px #2D4C84;
  border-radius: 20px;
  background-color: #C4C4C4;
  box-shadow: 9px 9px 5px 0px #939393; }

.idiomas__tabla--formato {
  border: solid 2px #2D4C84;
  padding: 0px 10px; }

.idiomas__boton--estilo {
  border: 1px solid white;
  border-radius: 40px;
  box-shadow: 9px 9px 5px 0px #939393; }

.error__fondo--imagen {
  background-image: url("../assets/fondo-estrellas.jpg");
  background-size: 100%; }

.index__banner--estilo {
  border: 1px solid white;
  border-radius: 40px;
  box-shadow: 9px 9px 5px 0px #939393; }

.carrusel__img--redondeada {
  border-radius: 40px; }

.nav__transicion--trasladar {
  transition: transform 0.5s; }

.nav__transicion--trasladar:hover {
  transform: translateY(-20px); }

.header__navHamb--agrandar {
  transform: scale(2); }

.footer__transicion--escalar {
  transition: transform 1s; }

.footer__transicion--escalar:hover {
  transform: scale(1.5); }

.preguntas__icono--trasladar {
  transform: translateX(-20px);
  transition: transform 1s; }

.preguntas__icono--trasladar:hover {
  transform: translateX(8px); }

.formulario__transicion--scale {
  transition: all 1s; }

.formulario__transicion--scale:focus {
  transform: scale(1.2); }

.formulario__boton--transicion:focus {
  box-shadow: 0px 0px 0px 0px #939393;
  transform: translate(9px, 9px);
  background-color: #8a8a8a; }

.error__img--transicion {
  transition: transform 1s; }

.error__img--transicion:hover {
  transform: rotate(-20deg); }

.fomulario__boton--tamaño {
  width: 100px; }

.contacto__info--tamaño {
  width: 400px; }

.index__banner--tamaños {
  width: 800px; }

.footer__logo--tamaños {
  width: 150px; }

.footer__iconos--tamaños {
  width: 60px; }

.index__separador--tamaños {
  width: 65%; }

.idiomas__boton--tamaño {
  width: 500px; }

@media only screen and (min-width: 691px) and (max-width: 890px) {
  .index__banner--tamaños {
    width: 700px; }
  .idiomas__tabla--paddingT {
    padding-top: 50px;
    margin-top: 50px; }
  .idiomas__boton--tamaño {
    width: 350px; }
  .preguntas__subtitulos--fuente {
    font-size: 2.5rem; }
  .test__card--marginT {
    margin-top: 50px; }
  .testimonios__margen--superior {
    margin-top: 50px;
    padding-bottom: 0px; }
  .formulario__mobile--marginT {
    margin-top: 50px; }
  .nav__transicion--trasladar:hover {
    transform: translateX(30px); } }

@media only screen and (max-width: 690px) {
  .index__banner--tamaños {
    width: 500px; }
  .footer__logo--tamaños {
    width: 100px; }
  .footer__subtitulo--fuente {
    font-size: 2.2rem; }
  .footer__info--fuente {
    font-size: 1.5rem; }
  .footer__iconos--tamaños {
    width: 50px; }
  .index__separador--tamaños {
    width: 80%; }
  .idiomas__tabla--paddingT {
    padding-top: 50px;
    margin-top: 50px; }
  .idiomas__boton--tamaño {
    width: 250px; }
  .preguntas__subtitulos--fuente {
    font-size: 2rem; }
  .test__card--marginT {
    margin-top: 50px; }
  .testimonios__margen--superior {
    margin-top: 50px;
    padding-bottom: 0px; }
  .formulario__mobile--marginT {
    margin-top: 50px; }
  .nav__transicion--trasladar:hover {
    transform: translateX(30px); } }
