@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.body__marginYpadding--quitar {
  margin: 0px;
  padding: 0px; }

.footer__flex {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  align-items: center; }

.index__banner--centrado {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.index__margen--superior {
  margin-top: 100px; }

.index__parrafos--margenT {
  margin-top: 200px; }

.header__logo--padding {
  padding: 30px 0px; }

.index__subtitulos--padding {
  padding-bottom: 25px; }

.footer__padding--top {
  padding-top: 20px; }

.footer__subtitulo--paddingB {
  padding-bottom: 10px; }

.footer__iconos--margin {
  margin: 0px 5px; }

.cards__respuestas--paddingL {
  padding: 0px 50px; }

.pregFrec__margen--superior {
  margin-top: 100px; }

.testimonios__margen--superior {
  margin-top: 100px;
  padding-bottom: 50px; }

.test__imgs--marginT {
  margin-top: 20px; }

.contacto__formulario--flex {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.contacto__formulario--margin {
  margin-top: 20px; }

.contacto__info--margin {
  margin-top: 35px; }

.contactos__margen--superior {
  margin-top: 50px; }

.contacto__info--padding {
  padding: 10px 0px 10px 15px; }

.contacto__titulo--margin {
  margin-top: 50px; }

.fomulario__boton--tamaño {
  width: 100px; }

.idiomas__margen--superior {
  margin-top: 100px; }

.idiomas__tabla--margen {
  margin-top: 20px; }

html {
  font-size: 62.5%; }

.nav__fuente--tamaño {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem; }

.cuerpo__parrafos--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: justify; }

.cuerpo__subtitulos--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem; }

.footer__subtitulo--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 2rem; }

.footer__info--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem; }

.copy__fuente {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  text-align: center; }

.testimonios__nombres--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  text-align: center; }

.testimonios__texto--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: justify; }

.contacto__titulo--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  text-align: center; }

.contacto__info--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem; }

.contacto__form--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 2rem; }

.idiomas__subtitulo--fuente {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold; }

.headFoot__fondo--gris {
  background-color: #ABABAB; }

.header__borde--inferior {
  border-bottom: 1px solid black; }

.footer__borde--superior {
  border-top: 1px solid black; }

.test__cards--radio {
  border-radius: 10%;
  box-shadow: 9px 9px 5px 0px #939393; }

.test__cards--borde {
  border: solid 5px #2D4C84;
  border-radius: 10%;
  box-shadow: 9px 9px 5px 0px #939393;
  background-color: #C4C4C4; }

.contacto__info--borde {
  border: solid 5px #2D4C84;
  border-radius: 10px;
  background-color: #C4C4C4;
  box-shadow: 9px 9px 5px 0px #939393; }

.contacto__formulario--borde {
  border: solid 5px #2D4C84;
  border-radius: 10px;
  background-color: #C4C4C4;
  box-shadow: 9px 9px 5px 0px #939393; }

.cuerpo__tabla--bordes {
  border: solid 5px #2D4C84;
  border-radius: 20px;
  background-color: #C4C4C4;
  box-shadow: 9px 9px 5px 0px #939393; }

.idiomas__tabla--formato {
  border: solid 2px #2D4C84;
  padding: 0px 10px; }

.idiomas__boton--estilo {
  border: 1px solid white;
  border-radius: 40px;
  box-shadow: 9px 9px 5px 0px #939393; }

.nav__transicion--trasladar {
  transition: transform 1s; }

.nav__transicion--trasladar:hover {
  transform: translateY(-20px); }

.footer__transicion--escalar {
  transition: transform 1s; }

.footer__transicion--escalar:hover {
  transform: scale(2); }

.preguntas__icono--trasladar {
  transform: translateX(-20px);
  transition: transform 1s; }

.preguntas__icono--trasladar:hover {
  transform: translateX(15px); }

.formulario__transicion--scale {
  transition: all 1s; }

.formulario__transicion--scale:focus {
  transform: scale(1.2); }

.formulario__boton--transicion:focus {
  box-shadow: inset -9px -9px 5px 0px #939393;
  transform: translate(9px, 9px); }
