.headFoot__fondo--gris{
	background-color: #ABABAB;
}
.header__borde--inferior{
	border-bottom: 1px solid black;
	
}
.footer__borde--superior{
	border-top: 1px solid black;
}
.test__cards--radio{
	border-radius: 10%;
	box-shadow: 9px 9px 5px 0px #939393;
}	
.test__cards--borde{
	border: solid 5px #2D4C84;
	border-radius: 10%;
	box-shadow: 9px 9px 5px 0px #939393;
	background-color: #C4C4C4;
}
.contacto__info--borde{
	border: solid 5px #2D4C84;
	border-radius: 10px;
	background-color: #C4C4C4;
	box-shadow: 9px 9px 5px 0px #939393;

}
.contacto__formulario--borde{
	border: solid 5px #2D4C84;
	border-radius: 10px;
	background-color: #C4C4C4;
	box-shadow: 9px 9px 5px 0px #939393;
}
.cuerpo__tabla--bordes{
	border: solid 5px #2D4C84;
	border-radius: 20px;
	background-color: #C4C4C4;
	box-shadow: 9px 9px 5px 0px #939393;
}
.idiomas__tabla--formato{
	border: solid 2px #2D4C84;
	padding: 0px 10px;
}
.idiomas__boton--estilo{
	border:1px solid white;
	border-radius: 40px;
	box-shadow: 9px 9px 5px 0px #939393;
}
.error__fondo--imagen{
 	background-image: url("../assets/fondo-estrellas.jpg");
 	background-size: 100%;
}
.index__banner--estilo{
	border:1px solid white;
	border-radius: 40px;
	box-shadow: 9px 9px 5px 0px #939393;
}