.headFoot__fondo--gris{
	background-color: #ABABAB;
}
.header__borde--inferior{
	border-bottom: 1px solid black;
	
}
.footer__borde--superior{
	border-top: 1px solid black;
}
.test__cards--radio{
	border-radius: 10%;
	box-shadow: 9px 9px 5px 0px #939393;
}	
.test__cards--borde{
	border: solid 5px #2D4C84;
	border-radius: 10%;
	box-shadow: 9px 9px 5px 0px #939393;
	background-color: #C4C4C4;
}
.fondo{
	background-image: url("../assets/fondo.jpg");
}