*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.body__marginYpadding--quitar{
	margin: 0px;
	padding: 0px;
}
.footer__flex{
	display: flex; 
	flex-direction: column;
	flex-wrap: no-wrap;
	justify-content: flex-start;
	align-items: center;
}
.index__banner--centrado{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.index__margen--superior{
	margin-top: 100px;
}
.index__parrafos--margenT{
	margin-top: 200px;
}
.header__logo--padding{
	padding: 30px 0px;
}
.index__subtitulos--padding{
	padding-bottom: 25px;
}
.footer__padding--top{
	padding-top: 20px;
}
.footer__subtitulo--paddingB{
	padding-bottom: 10px;
}	
.footer__iconos--margin{
	margin: 0px 5px;
}
.cards__respuestas--paddingL{
	padding: 0px 50px;
}
.pregFrec__margen--superior{
	margin-top: 100px;
}
.testimonios__margen--superior{
	margin-top: 100px;
	padding-bottom: 50px;
}
.test__imgs--marginT{
	margin-top: 20px;
}
.contacto__formulario--flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.contacto__formulario--margin{
	margin-top: 20px;
}
.contacto__info--margin{
	margin-top: 35px;
}
.contactos__margen--superior{
	margin-top: 50px;
}
.contacto__info--padding{
	padding: 10px 0px 10px 15px;
}
.contacto__titulo--margin{
	margin-top: 50px;
}
.fomulario__boton--tamaño{
	width: 100px;
}
.idiomas__margen--superior{
	margin-top: 100px;
}
.idiomas__tabla--margen{
	margin-top: 20px;
}
.error__imgs--flex{
	display: flex; 
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: center;
	align-items: center;
	margin: 50px 0px;
}
.error__texto--flex{
	margin-top: 50px;
	padding: 0px 50px;
}
.error__imgs--paddingR{
	padding-right: 50px;
}
.error__imgs--paddingL{
	padding-left: 50px;
}