html{
	font-size: 62.5%;
}

$roboto: 'Roboto', sans-serif;
$parrafoDesk: 2rem;

.nav__fuente--tamaño{
	font-family: $roboto;
	font-size: 2.5rem;
}
.cuerpo__parrafos--fuente{
	font-family: $roboto;
	font-size: $parrafoDesk;
	text-align: justify;
}
.index__parrafos--altoLinea{
	line-height: 4rem;
}
.cuerpo__subtitulos--fuente{
	font-family: $roboto;
	font-size: 3.5rem;
}
.footer__subtitulo--fuente{
	font-family: $roboto;
	font-size: 2.5rem;
}
.footer__info--fuente{
	font-family: $roboto;
	font-size: 2rem;
	font-weight: bold;
}
.copy__fuente{
	font-family: $roboto;
	font-size: 1.3rem;
	text-align: center;
}
.preguntas__subtitulos--fuente{
	font-family: $roboto;
	font-size: 3rem;
}
.testimonios__nombres--fuente{
	font-family: $roboto;
	font-size: 2.5rem;
	text-align: center;
}
.testimonios__texto--fuente{
	font-family: $roboto;
	font-size: $parrafoDesk;
	text-align: justify;
}
.contacto__titulo--fuente{
	font-family: $roboto;
	font-size: 5rem;
	text-align: center;
}
.contacto__info--fuente{
	font-family: $roboto;
	font-size: 2.5rem;
}
.contacto__form--fuente{
	font-family: $roboto;
	font-size: 2.3rem;
}
.idiomas__subtitulo--fuente{
	font-family: $roboto;
	font-size: 1.5rem;
	font-weight: bold;
}
.error__texto--fuente{
	font-family: $roboto;
	text-align: center;
	color: #2D4C84;
	font-size: 7rem;
	-webkit-text-stroke: 3px black;
	font-weight: bold;
}
.error__indicacion--fuente{
	font-family: $roboto;
	text-align: center;
	color: #939393;
	-webkit-text-stroke: 1px #2D4C84;
	font-size: 3rem;
}