*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;}

.index__grid--container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 500px 700px 1000px 1000px 500px 500px;
	grid-row-gap: 10px;
	grid-template-areas: 
	"header"
	"carrusel"
	"sobreNosotros"
	"propuestaAcademica"
	"banner"
	"footer";}
	 
	.index__grid--header{
		grid-area: header;}
	.index__grid--carrusel{
		grid-area: carrusel;}
	.index__grid--SobreNosotros{
		grid-area: sobreNosotros;}
	.index__grid--PropuestaAcademica{
		grid-area: propuestaAcademica;}
	.index__grid--banner{
		grid-area: banner;}
	.index__grid--footer{
		grid-area: footer;}					