//medium
@media only screen and (min-width: 721px) and (max-width: 960px) {
	.index__banner--tamaños{
	width: 600px;
	}
	.header__logo--tamaños{
		width: 400px;
	}
	.idiomas__tabla--paddingT{
		padding-top: 50px;
		margin-top: 50px;
	}
	.idiomas__boton--tamaño{
		width: 350px;
	}
	.tablas__padding--lateral{
		padding-right: 0px;
		padding-left: 0px;
	}
	.preguntas__subtitulos--fuente{
		font-size: 2.5rem;
	}
	.preguntas__parrafos--fuente{
		font-size: 1.8rem;
	}	
	.preguntas__iconos--tamaños{
		width: 45px;
	}
	.test__card--marginT{
		margin-top: 50px;
	}
	.testimonios__margen--superior{
		margin-top: 50px;
		padding-bottom: 0px;
	}
	.formulario__mobile--marginT{
		margin-top: 100px;
	}
	.nav__paddingResponsive--top{
		padding-top: 20px;
	}
	.nav__transicion--trasladar:hover{
		transform: translateX(30px);
	}
	.error__imgs--tamaños{
		width: 150px;
	}
	.error__imgs2--tamaños{
		width: 200px
	}
	.error__imgs3--tamaños{
		width: 400px;
	}
	.error__texto--fuente{
		font-size: 4.5rem;
	}
	
}	
//small
@media only screen and (min-width: 541px) and (max-width: 720px) {
	.index__banner--tamaños{
	width: 450px;
	}
	.footer__mobile--paddingT{
		padding-top: 20px;
	}
	.nav__padding--inferiorLeft{
		padding-bottom: 20px;
		padding-left: 30px;
	}
	.footer__logo--tamaños{
	width: 100px;
	}
	.header__logo--tamaños{
		width: 350px;
	}
	.footer__subtitulo--fuente{
		font-size: 2.2rem;
	}
	.footer__info--fuente{
		font-size: 1.5rem;
	}
	.footer__iconos--tamaños{
	width: 50px;
	}
	.index__separador--tamaños{
	width: 80%;
	}
	.idiomas__tabla--paddingT{
		padding-top: 50px;
		margin-top: 50px;
	}
	.idiomas__boton--tamaño{
	width: 250px;
	}
	.tablas__padding--lateral{
		padding-right: 30px;
		padding-left: 30px;
	}
	.preguntas__subtitulos--fuente{
		font-size: 2rem;
	}
	.preguntas__parrafos--fuente{
		font-size: 1.8rem;
	}
	.preguntas__iconos--tamaños{
		width: 40px;
	}
	.test__card--marginT{
		margin-top: 50px;
	}
	.testimonios__margen--superior{
		margin-top: 50px;
		padding-bottom: 0px;
	}
	.formulario__mobile--marginT{
		margin-top: 50px;
	}
	.nav__paddingResponsive--top{
		padding-top: 20px;
	}
	.nav__transicion--trasladar:hover{
		transform: translateX(30px);
	}
	.error__imgs--tamaños{
		width: 150px;
	}
	.error__imgs2--tamaños{
		width: 150px
	}
	.error__imgs3--tamaños{
		width: 350px;
	}
	.error__texto--fuente{
		font-size: 4rem;
	}
}	
// extra small
@media only screen and (max-width: 540px){
	.header__logo--tamaños{
		width: 300px;
	}
	.nav__fuente--tamaño{
	font-size: 2rem;
	}
	.nav__paddingResponsive--top{
		padding-top: 20px;
	}
	.nav__transicion--trasladar:hover{
		transform: translateX(30px);
	}
	.footer__subtitulo--fuente{
		font-size: 2.2rem;
	}
	.footer__info--fuente{
		font-size: 1.5rem;
	}
	.footer__logo--tamaños{
		width: 100px;
	}
	.index__banner--tamaños{
		width: 300px;
	}
	.cuerpo__parrafos--fuente{
		font-size: 1rem;
	}	
	.cuerpo__subtitulos--fuente{
	font-size: 2.2rem;
	}
	.idiomas__tabla--paddingT{
		padding-top: 50px;
		margin-top: 50px;
	}
	.idiomas__boton--tamaño{
	width: 250px;
	}
	.tablas__padding--lateral{
		padding-right: 20px;
		padding-left: 20px;
	}
	.preguntas__subtitulos--fuente{
		font-size: 1.2rem;
	}
	.preguntas__parrafos--fuente{
		font-size: 1rem;
	}
	.preguntas__iconos--tamaños{
		width: 35px;
	}
	.test__card--marginT{
		margin-top: 50px;
	}
	.testimonios__margen--superior{
		margin-top: 50px;
		padding-bottom: 0px;
	}
	.testimonios__texto--fuente{
		font-size: 1.5rem;
	}
	.contacto__info--fuente{
		font-size: 1.8rem;
	}
	.contacto__form--fuente{
		font-size: 1.6rem;
	}
	.contacto__info--tamaño{
		width: 300px;
	}
	.formulario__mobile--marginT{
		margin-top: 50px;
	}
	.error__imgs--tamaños{
		width: 100px;
	}
	.error__imgs2--tamaños{
		width: 150px
	}
	.error__imgs3--tamaños{
		width: 250px;
	}
	.error__imgs--paddingR{
		padding-right: 20px;
	}
	.error__imgs--paddingL{
		padding-left: 20px;
	}
	.error__texto--fuente{
		font-size: 2.5rem;
		-webkit-text-stroke: 0px black;
	}
	.error__texto--flex{
		margin-top: 50px;
		padding: 0px 20px;
	}
}