
.fomulario__boton--tamaño{
	width: 100px;
}
.contacto__info--tamaño{
	width: 400px;
}
.index__banner--tamaños{
	width: 800px;
}
.footer__logo--tamaños{
	width: 150px;
}
.footer__iconos--tamaños{
	width: 60px;
}
.index__separador--tamaños{
	width: 65%;
}
.idiomas__boton--tamaño{
	width: 500px;
}
.error__imgs--tamaños{
	width: 250px;
}
.error__imgs2--tamaños{
	width: 300px
}

//medium
@media only screen and (min-width: 691px) and (max-width: 890px) {
	.index__banner--tamaños{
	width: 700px;
	}
	.idiomas__tabla--paddingT{
		padding-top: 50px;
		margin-top: 50px;
	}
	.idiomas__boton--tamaño{
		width: 350px;
	}
	.preguntas__subtitulos--fuente{
		font-size: 2.5rem;
	}
	.test__card--marginT{
		margin-top: 50px;
	}
	.testimonios__margen--superior{
		margin-top: 50px;
		padding-bottom: 0px;
	}
	.formulario__mobile--marginT{
		margin-top: 50px;
	}
	.nav__transicion--trasladar:hover{
		transform: translateX(30px);
	}
	.error__imgs--tamaños{
		width: 200px;
	}
	.error__imgs2--tamaños{
		width: 250px
	}
	.error__texto--fuente{
		font-size: 5rem;
	}
	.error__indicacion--fuente{
		font-size: 2rem;
	}
}	
//mobile
@media only screen and (max-width: 690px) {
	.index__banner--tamaños{
	width: 500px;
	}
	.footer__logo--tamaños{
	width: 100px;
	}
	.footer__subtitulo--fuente{
		font-size: 2.2rem;
	}
	.footer__info--fuente{
		font-size: 1.5rem;
	}
	.footer__iconos--tamaños{
	width: 50px;
	}
	.index__separador--tamaños{
	width: 80%;
	}
	.idiomas__tabla--paddingT{
		padding-top: 50px;
		margin-top: 50px;
	}
	.idiomas__boton--tamaño{
	width: 250px;
	}
	.preguntas__subtitulos--fuente{
		font-size: 2rem;
	}
	.test__card--marginT{
		margin-top: 50px;
	}
	.testimonios__margen--superior{
		margin-top: 50px;
		padding-bottom: 0px;
	}
	.formulario__mobile--marginT{
		margin-top: 50px;
	}
	.nav__transicion--trasladar:hover{
		transform: translateX(30px);
	}
	.error__imgs--tamaños{
		width: 150px;
	}
	.error__imgs2--tamaños{
		width: 150px
	}
	.error__texto--fuente{
		font-size: 4rem;
	}
	.error__indicacion--fuente{
		font-size: 1rem;
	}
}	
