
.fomulario__boton--tamaño{
	width: 100px;
}
.contacto__info--tamaño{
	width: 400px;
}
.index__banner--tamaños{
	width: 800px;
}
.footer__logo--tamaños{
	width: 150px;
}
.footer__iconos--tamaños{
	width: 60px;
}
.index__separador--tamaños{
	width: 65%;
}
.idiomas__boton--tamaño{
	width: 500px;
}
.error__imgs--tamaños{
	width: 250px;
}
.error__imgs2--tamaños{
	width: 300px
}

.header__logo--tamaños{
	width: 450px;
}
.preguntas__iconos--tamaños{
	width: 50px;
}


